/* -------------------------------------------Elements------------------------------------------- */

body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

/* -------------------------------------------Classes------------------------------------------- */

.carousel-item {
  padding: 7% 15%;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

/* Features Section */
.feature-title {
  font-weight: 1.5;
}
.features-container {
  background-color: white;
  padding: 5% 15%;
  position: relative;
  z-index: 1;
}
.feature-box {
  padding: 5%;
}
.features-icon {
  color: #ff4c68;
  size: 20%;
  margin-bottom: 1rem;
}
.features-icon:hover {
  color: red;
}
.features-text {
  display: inline-block;
}
/*  */

/* Headings */
.heading-big {
  size: 3.5rem;
  line-height: 1.5;
}

.heading-section {
  font-size: 1.8rem;
  line-height: 1.5;
}
/*  */

/* Sections */
.colored-section{
  color: white;
}

.white-section{
  color: black;
}
/*  */

/* Title Section */
.title-container {
  padding: 3% 15%;
  text-align: left;
}
#title .heading-big{
  padding-top: 20%;
}
.title-image {
  width: 60%;
  transform: rotate(30deg);
  position: relative;
  top: 130px;
  left: 25%;
}
/*  */

/* Testimonail Section */
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.5;
}
/*  */

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  font-size: 1.2rem;
}
/*  */

/* Footer Section */
.footer-icons {
  margin: 5px;
}
.footer-icons:hover {
  color: #ff4c68;
}
/*  */
.press-img {
  width: 14rem;
  margin: 5% 5%;
}

.pricing-column {
  padding: 3% 2%;
}
.price-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

/* -------------------------------------------Tags------------------------------------------- */

#cta {
  background-color: #ff4c68;
  padding: 7% 10% 7% 10%;
}

#footer {
  background-color: white;
  color: #8f8f8f;
  padding: 4%;
}

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

#pricing {
  padding: 6%;
}

#testimonials {
  background-color: #ff4c68;
}

#title {
  background-color: #ff4c68;
}

@media (max-width: 990px) {
  .title-image {
    transform: rotate(0deg);
  }
}
